<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Forget password - Event Management System</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<form th:action="@{/send-otp}" method="post">
		<label>Enter your registered email</label> <input type="email"
			name="email" class="form-control" required>
		<p th:if="${error}" class="text-danger" th:text="${error}"></p>
		<p th:if="${check}" class="text-danger" th:text="${check}"></p>
		<button class="btn btn-primary mt-2">Send OTP</button>
	</form>
</body>
</html>